<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link
    rel="shortcut icon"
    href="los-pistoleros-logo2.png"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="style.css" />
  <link rel="manifest" href="manifest.json" />
  <body>
    <div id="app">
      <header>
        <figure style="display: flex; justify-content: center">
          <img id="logo" src="los-pistoleros-logo.png" alt="logo" />
        </figure>
      </header>

      <nav style="display: flex; justify-content: space-between">
        <div id="adress">
          <p class="pAdress"><strong>Los Pistoleros</strong></p>
          <p class="pAdress">Göteborgsvägen 89</p>
          <p class="pAdress">Inlet Nordic AB</p>
          <p class="pAdress">431 30 Mölndal</p>
          <p class="pAdress">hola@los-pistoleros.se</p>
        </div>
        <div
          id="dateAndSignature"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          "
        >
          <label id="dateLable" for="date"
            >Datum <input type="date" name="date" id="date"
          /></label>
          <label id="signLable" for="sign"
            >Vår referens<input type="text" name="sign" id="sign"
          /></label>
        </div>
      </nav>
      <aside>
        <label id="customerLable" for="customer"
          >Kund <input type="text" name="customer" id="customer"
        /></label>
      </aside>
      <div id="addProductDiv">
        <label for="input-product"
          ><button @click="addProduct">Lägg till produkt</button></label
        ><input
          v-model="newProductName"
          placeholder="Produktnamn"
          id="input-product"
          type="text"
        />
      </div>
      <div id="tableDiv">
        <table id="tableProduct">
          <tr>
            <th class="product">Produkt</th>
          </tr>
          <tr class="product" v-for="product in products" :key="product.id">
            <td class="product">
              {{product.name}}
              <button @click="removeProduct(product.id)">Ta bort</button>
            </td>
          </tr>
        </table>

        <table id="tableAmount">
          <tr>
            <th class="amountOf">Antal</th>
            <th class="amountOf">Extra</th>
          </tr>
          <tr v-for="(row, index) in products" :key="index">
            <td class="amountOf">
              <select
                v-model="selectedCounters[index]"
                class="inputAmount"
                @change="onChange"
              >
                <option v-for="number in numbers" :key="number" :value="number">
                  {{number}}
                </option>
              </select>
            </td>
            <td class="amountOf">
              <select
                v-model="selectedCounters2[index]"
                @change="onChange2"
                class="inputAmount"
              >
                <option v-for="number in numbers" :key="number" :value="number">
                  {{number}}
                </option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div id="divForDivNumberOfProducts">
        <input
          @click="showForm = true"
          id="sendButton"
          type="button"
          value="Skicka"
        />
        <div v-if="showForm" class="modal-overlay">
          <div class="modal-content">
            <h2>Send email</h2>
            <form id="sendForm">
              <label for="name">Name:</label>
              <input type="text" id="name" /><br />
              <label for="email">Email:</label>
              <input
                type="text"
                id="email"
                value="mattsson.richard@gmail.com"
              />
              <br />
              <button id="formSend" type="submit">Send</button>
              <button id="formCancel" @click="showForm = false">Close</button>
            </form>
          </div>
        </div>
        <div id="divNumberOfProducts">
          <label class="label"
            ><input
              class="numberOfProducts"
              type="text"
              :value="sum"
            />Antal</label
          >

          <label class="label"
            ><input
              name="input"
              class="numberOfProducts"
              type="text"
              :value="sum2"
            />Extra</label
          >
          <label class="label"
            ><input
              class="numberOfProducts"
              type="text"
              :value="total"
            />Total</label
          >
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script src="index.js"></script>
    <script src="service-worker.js"></script>
  </body>
</html>
